@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(23, 44, 6);
    height: 100vh;
    background-image: url(./imagem/mariah\ betinho\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: start;
    
}
h1{
    width: 70vw;
    text-align: center;
    color: #9d0000;
    font-size: 6rem;
    margin-top: 30px;
    font-family: "Itim", cursive;
    font-weight: ;


}
